{{>navbar}}

<div class="col-md-7 mx-auto col-12 px-0 pt-3">
  {{>header title = "SunDial"}}

  <div>
    <h1 class="ml-2">Welcome to SunDial</h1>
  </div>

  <div class="mx-3">
    <p>
      SunDial is a project management application that allows the user organize and catalog their busy workday.</p>

    <p>
      More of the labor force is working from home than at any time in human history. The challenges are many, but
      opportunities also abound.
    </p>
    Tracking time spent throughout the day is one of those challenges. SunDial tracks time with ease and simplicity with
    a simple, easy to use platform that allows work to be clearly and
    precisely communicated to the employer or client.
    With the ability to create and track users and the projects they are working on, this webpage will help ease the
    discomfort we are facing with a widely distributed workforce.
    </p>
  </div>