{{>navbar}}

<div class="col-md-7 col-12 mx-auto px-0">
  {{>header title = "SunDial"}}

  <div class="mx-auto px-0 container">

    <div class="selUser mx-2 py-2 bg-info text-white text-center">
      SELECT USER
    </div>
    <ul class="mx-2 list-group userListEl list-group-flush">
      {{#each users}}
      <li data-id={{id}} class="list-group-item userInfo">{{firstName}} {{lastName}}</li>
      {{/each}}
    </ul>
    <!-- START Modal -->
    <div class="text-center">
      <button type="button" class="py-2 mx-2 col-12 btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@getbootstrap">Create Profile</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Welcome to Sundial!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="first-name" class="col-form-label">First Name:</label>
                <input type="text" class="form-control" id="first_name">
              </div>
              <div class="form-group">
                <label for="last-name" class="col-form-label">Last Name:</label>
                <input type="text" class="form-control" id="last_name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="user-submit" type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Modal -->


</div>