{{>navbar}}

<div class="col-md-7 col-12 mx-auto px-0 pt-3">
  {{>header title = "SunDial"}}



  <nav class="text-center navbar navbar-default mt-3 mx-0 px-0">
    <button type="button" class="py-2 col-12 navbar-toggle collapsed selUser btn text-white" data-toggle="collapse"
      data-target="#codebrainery-toggle-nav" aria-expanded="false">
      Select User
    </button>
    <div class="collapse navbar-collapse" id="codebrainery-toggle-nav">
      <ul class="mx-2 list-group userListEl list-group-flush">
        {{#each users}}
        <li data-id={{id}} class="list-group-item userInfo">{{firstName}} {{lastName}}</li>
        {{/each}}
      </ul>
    </div>
  </nav> <!-- close navbar nav -->

  <!-- START Modal -->
  <div class="text-center">
    <button type="button" class="makeBtn btn btn-info py-2 col-12 text-white" data-toggle="modal" data-target="#exampleModal"
      data-whatever="@getbootstrap">Create Profile</button>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Welcome to Sundial!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="signup">
            <div class="form-group">
              <label for="first-name" class="col-form-label">First Name:</label>
              <input type="text" class="form-control" id="first_name">
            </div>
            <div class="form-group">
              <label for="last-name" class="col-form-label">Last Name:</label>
              <input type="text" class="form-control" id="last_name">
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password:</label>
              <input type="text" class="form-control" id="password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="user-submit" type="button" class="modalBtn btn">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END Modal -->
  <div class="container">
    <div class="mx-auto p-0 row col-11">
      <img class="mx-auto pt-5" src="\assets\img\SUNDIALGIF2.mp4" alt="Sundial Animation">
    </div>
  </div>
  <!-- Home-made GIF starts here -->

</div>