<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SunDial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SunDial</title>
        {{!-- BOOTSTRAP LINK --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{{!-- JQUERY LINK --}}
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>SunDial</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shift</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col">
            {{!-- projects list --}}
        <div class="card" style="width: 18rem;">
        <div class="card-header">
            WELCOME USER, HERE ARE YOUR PROJECTS
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">701 DEXTER</li>
            <li class="list-group-item">601 MASS AVE</li>
            <li class="list-group-item">HAYWARD FIELD</li>
            <li class="list-group-item">CAPITOL HILL T.O.D.</li>
            <li class="list-group-item">580 DUBUQUE</li>
            <a href="#" class="btn btn-primary">Create New Project</a>
        </ul>
        </div>
    </div>

  </div>



</div>
</body>
</html>