ul{
    padding: 0px;
  }
li{
  cursor: pointer;
}

.navBtn {
  border: solid 1px white !important;
  border-radius: 3px !important;
}

.navbar {
  border-radius: 0px 0px 4px 4px;
}
.selUser {
  border-radius: 4px;
  border: none !important;
}
.userDrop {
  border-radius: 4px;
}

.dropUser {
  border-radius: 5px !important;
}

.homeTit {
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
}
